<!-- <div class="nav-top navbar_border">
  <div class="row">
    <div class="offset-md-2">
    <label class="color-white">{{'navBar.LANGUAGE' | translate}}</label>
  </div>
  <div class="offset-md-6">
      <select ng-model="vm.languageSelected" ng-change="vm.changeLanguage()" ng-options="x.name for x in vm.names">
        </select>
  </div>
  </div>
</div> -->
<div class="nav-top navbar_border">
    <div class="pull_right padding-10">
        <select ng-model="vm.languageSelected" ng-change="vm.changeLanguage()" ng-options="x.name for x in vm.names">
        </select>
       </div>
     <div class="color-white pull_right padding-10">
      <label class="color-white">{{'navBar.LANGUAGE' | translate}}</label>
     </div>
     
</div>

</div>
</div>
    
<div ui-view></div>

<footer class="page-footer navbar-border-top">
this is footer
</footer>
