/* app css stylesheet */
body{
  padding: 0;
  margin: 0;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.nav-top{
  width:100%;
  height: 60px;
  padding: 5px 0;
}
.navbar_border{
  border-bottom:1px solid #8049da;
  height: 50px;
  background-color: #5045e4;
  display: block;
  
}
.color-white{
  color: white;
}
.align-text{
 float: right;
}
.navbar-border-top{
  border-top:1px solid #8049da;
  height: 50px;
  background-color: #5045e4;
  
}
.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
}
.page-login{
   width: 50%;
   margin-right: auto;
   margin-left: auto;
}

.text-center{
  text-align: center;
}
.container-border{
  border:1px solid rgb(204, 199, 199);
  background-color: rgb(240, 231, 231);
  border-radius:5px;
  padding: 10px;
  position: relative;  
  margin-top:15%;   
}
.pull_right{
  float: right;
}
.padding-10{
  padding: 5px 10px;

}
.container-border{
  width: 75%;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.color-grey{
  background-color: grey;
}