<div class="page-wrapper">
    <div class="page-login">
        <div class="container container-border">
            <h3 class="text-center">{{'login.WELCOME' | translate }}</h3>
            <form action="#">
                <div class="form-group">
                <label for="user">{{ 'login.USER' | translate }}</label>
                <input type="text" ng-change="vm.checkButton()" ng-model="vm.userName" class="form-control" id="user">
                </div>
                <div class="form-group">
                <label for="pwd">{{ 'login.PASSWORD' | translate }}</label>
                <input type="password" ng-change="vm.checkButton()" ng-model="vm.password" class="form-control" id="pwd">
                </div>
                <div class="checkbox">
                <label><input type="checkbox"> {{'login.REMEMBER' | translate }}</label>
                </div>
                <div class="text-center">
                <button type="submit" ng-disabled="vm.disableButton" ng-click="vm.login()" class="btn btn-default btn-primary">{{'login.SIGNIN' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>